* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cousine", monospace;
}

body {
  background: black;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-output div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 50px;
  color: white;
  background-color: #202020;
  width: 300px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.buttons {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
}
.buttons div, .buttons button {
  background-color: #6d6c6c;
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.buttons div.zero, .buttons button.zero {
  grid-column: 1/3;
  border-radius: 20px;
}
.buttons div.equals, .buttons button.equals {
  grid-row: 3/6;
  grid-column: 5;
  border-radius: 20px;
}
.buttons div.clear, .buttons div.backspace, .buttons button.clear, .buttons button.backspace {
  background-color: darkblue;
}
.buttons .operator {
  background-color: orange;
}
.buttons .top {
  background-color: #adadad;
}